@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  @apply font-sans;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.animate-shake {
  animation: shake 0.6s ease-in-out;
}
